<footer class="footer">
    <div class="container-fluid">
        <div class="copyright">
            TM &reg; & &copy; {{today | date: 'yyyy'}} Scholastic Inc. All Rights Reserved.
        </div>
    </div>
</footer>